.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  background-image: url('/medow.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  text-align: center;
  margin: 2rem 0;
}

.profilePic {
  border-radius: 50%;
  overflow: hidden; 
}

.main {
  max-width: 800px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 2rem;
  border-radius: 10px; 
}

.post {
  margin: 2rem 0;
}

.footer {
  text-align: center;
  margin: 2rem 0;
  color: #000000;
}
